[submodule "Rack"]
	path = Rack
	url = https://github.com/VCVRack/Rack
[submodule "MusicTools"]
	path = MusicTools
	url = https://github.com/xavierxeon-music/MusicTools.git
[submodule "Fundamental"]
	path = 3rdParty/Fundamental
	url = https://github.com/VCVRack/Fundamental.git
[submodule "3rdParty/ImpromptuModular"]
	path = 3rdParty/ImpromptuModular
	url = https://github.com/MarcBoule/ImpromptuModular.git
