[submodule "Rack"]
	path = Rack
	url = https://github.com/VCVRack/Rack
[submodule "MusicTools"]
	path = MusicTools
	url = https://github.com/xavierxeon-music/MusicTools.git
[submodule "Fundamental"]
	path = Fundamental
	url = https://github.com/VCVRack/Fundamental.git
