[submodule "Rack"]
	path = Rack
	url = https://github.com/VCVRack/Rack
[submodule "MusicTools"]
	path = SchweineSystem/src/_MusicTools
	url = https://github.com/xavierxeon-music/MusicTools.git
[submodule "Fundamental"]
	path = 3rdParty/Fundamental
	url = https://github.com/VCVRack/Fundamental.git
[submodule "3rdParty/ImpromptuModular"]
	path = 3rdParty/ImpromptuModular
	url = https://github.com/MarcBoule/ImpromptuModular.git
[submodule "3rdParty/BogaudioModules"]
	path = 3rdParty/BogaudioModules
	url = https://github.com/bogaudio/BogaudioModules
[submodule "SchweineSystem/src/Utilities/link"]
	path = link/src
	url = https://github.com/Ableton/link.git
